

{% include 'fb_meta' %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SockSupply.be - Want een sok draag je nooit alleen.</title>
<meta name="description" content="SockSupply.be - Want een sok draag je nooit alleen." />
<meta name="keywords" content="socksupply,socks,supply,sokken,kousen,kous,sok,kopen,nu,bestellen,gratis,leveren,huis,kwaliteit" />
<meta name="author" content="SockSupply.be" />

<!-- Bootstrap -->
{{ 'modernizr.custom.js'  | asset_url | script_tag }}

{{ 'bootstrap.min.css'  | asset_url | stylesheet_tag }}
{{ 'jquery.fancybox.css'  | asset_url | stylesheet_tag }}
{{ 'flickity.css'  | asset_url | stylesheet_tag }}
{{ 'animate.css'  | asset_url | stylesheet_tag }}
{{ 'styles.css'  | asset_url | stylesheet_tag }}
{{ 'queries.css'  | asset_url | stylesheet_tag }}

{{ 'https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'  | stylesheet_tag }}
{{ 'https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700'  | stylesheet_tag }}

{{ 'https://use.fontawesome.com/cac1a8e8a5.js'  | script_tag }}
{{ 'https://use.fontawesome.com/cac1a8e8a5.js'  | script_tag }}

<!-- Facebook and Twitter integration -->
<meta property="og:title" content="SockSupply.be - Want een sok draag je nooit alleen."/>
<meta property="og:image" content="{{ 'hero.jpg' | asset_url }}"/>
<meta property="og:url" content="http://www.socksupply.be"/>
<meta property="og:site_name" content="SockSupply"/>
<meta property="og:description" content="SockSupply.be - Want een sok draag je nooit alleen."/>
<meta name="twitter:title" content="SockSupply.be - Want een sok draag je nooit alleen." />
<meta name="twitter:image" content="{{ 'hero.jpg' | asset_url }}" />
<meta name="twitter:url" content="http://www.socksupply.be" />
<meta name="twitter:card" content="SockSupply.be - Want een sok draag je nooit alleen." />

<!-- Favicon -->
<link rel="apple-touch-icon" href="{{ 'touch-icon-iphone.png' | asset_url }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ 'touch-icon-ipad.png' | asset_url }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ 'touch-icon-iphone-retina.png' | asset_url }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ 'touch-icon-ipad-retina.png' | asset_url }}"><link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | asset_url }}">
<link rel="manifest" href="{{ 'manifest.json' | asset_url }}">
<link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | asset_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">
<meta name="msapplication-config" content="{{ 'browserconfig.xml' | asset_url }}">
<meta name="theme-color" content="#ffffff">


<!-- Start of Async Drift Code
<script>
!function() {
var t;
if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
t.factory = function(e) {
return function() {
  var n;
  return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
};
}, t.methods.forEach(function(e) {
t[e] = t.factory(e);
}), t.load = function(t) {
var e, n, o, i;
e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
});
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('e2zsupzxkatx');
</script>
<!-- End of Async Drift Code -->

{% comment %}
  Load required Shopify JS + jQuery
{% endcomment %}
{{ 'shopify_common.js'  | asset_url | script_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{{ '//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js' | script_tag }}

{{ 'nude.js' | asset_url | script_tag }}
